.container {
  overflow-y: scroll;
  height: 80dvh;
  color: white;
}
body {
  font-family: 'Inter', sans-serif !important;
  font-size: 14px !important;
  background-color: #0E1D1D !important;
  overflow-x: hidden;
  overflow-y: hidden;
}
body::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #1F3D3D;
}

body::-webkit-scrollbar
{
	width: 5px;
	background-color: #1F3D3D;
}

body::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0E1D1D;
}

.bg-darkgreen {
  background-color: #142828 !important;
}
.bg-green {
  background-color: #1F3D3D !important;
}
.bg-lightgreen {
  background-color: #346565 !important;
}
.bg-orange {
  background-color: #FF8135 !important;
}
.bg-darkblue {
  background-color: #141428 !important;
}
.bg-lightgrey {
  background-color: #CACACA !important;
}
.bg-darkgrey {
  background-color: #282828 !important;
}
.bg-grey {
  background-color: #D9D9D9 !important;
}
.bg-black {
  background-color: #141414 !important;
}

.mob-nav {
  display: none !important;
}



.bg-red {
  border: 2px solid red;       /* or background-color: rgba(255,0,0,0.1) */
  background-color: rgba(255,0,0,0.1);
}

.total-error {
  background-color: rgba(255, 0, 0, 0.344);
}

.text-lightgrey {
  color: #e5e5e5;
}
.text-darkgrey {
  color: #282828;
}
.text-grey {
  color: #D9D9D9;
}
.text-orange {
  color: #FF8135;
}
.text-blue {
  color: #141428 !important;
}
.text-red {
  color: #DC3545;
}
.text-green {
  color: #2aec92;
}
.text-white {
  color: white !important;
}

.logo-bar {
  height: 50px;
}

.loadingSpinner {
  margin-top: 30dvh !important;
}
label {
  font-size: 12px;
  font-weight: bold;
}
h1 {
  font-size: 20px !important;
  font-family: 'Inter', sans-serif !important;
  font-weight: bold !important;
}
.font-10 {
  font-size: 10px;
}
.font-12 {
  font-size: 12px;
}
.font-15 {
  font-size: 15px !important;
}
.font-18 {
  font-size: 18px !important;
}
.font-20 {
  font-size: 20px !important;
}

.date {
  font-size: 12px;
  font-weight: bold;
}
.shadow-box {
  box-shadow: -2px 2px 5px #0E1D1D;
}
.shadow-down{
  box-shadow: 2px 2px 5px #0E1D1D;
}
.shadow-left {
  box-shadow: -2px 2px 5px #0E1D1D;
}
.w-330 {
  width: 330px;
}
.team-logo {
  width: 20px;
  margin-right: 5px;
}



.odds {
  width: 30%; 
  background-color: #141428;
  transition-duration: 200ms;
  transition-timing-function: ease-in-out;
}
.odds:hover{
  background-color:#1e1e3d;
  cursor: pointer;
}
.odds:active{
  background-color:#ff7520;
  cursor: pointer;
}
.odds:active .teamName{
  color:#141428;
  font-weight: bold;
}
.odds:active .teamOdds{
  color:#FFF;
}

.oddsClicked {
  background-color:#FF8135;
  width: 30%; 
  transition-duration: 100ms;
}
.oddsClicked:hover{
  background-color:#ff7520;
  cursor: pointer;
}
.oddsClicked:active{
  background-color:#FF8135;
  cursor: pointer;
}


.teamNameClicked {
  color:#141428;
  font-weight: bold;
}

.teamOddsClicked {
  color:#FFF;
  font-weight: bold;
}
.odds-content {
  white-space: nowrap; 
  width: 100%; 
  overflow: hidden;
  text-overflow: ellipsis !important;
}
.odds-container {
  width: 60%;
}
.teamName {
  color: white;
}
.teamOdds {
  color:#FF8135;
  font-weight: bold;
}

.input {
  background-color: transparent;
  border: none;
  padding: 10px;
  display: block;
  width: 100%;
  color: white;
}


input:focus {
  outline-color: transparent;
  outline-style: inset;
  outline-width: 2px;
}

.toggle {
  position: relative;
  right: -5px;
}

.searchgroup-text {
  background-color: transparent;
  border-radius: 5px 0px 0px 5px;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 5px;
  color: #CACACA;
  height: 34px;
  display: inline-block;
}
.search {
  width: 100%;
  background-color: transparent;
  color:white;
  border: none;
  padding: 6.5px;
  border-radius: 0px 5px 5px 0px;
}
.searchMarket {
  width: 100%;
  border: 1px solid transparent;
  margin-bottom: 0px !important;
  transition-duration: 300ms;
}
.searchMarket-text {
  background-color: transparent;
  border-radius: 5px 0px 0px 5px;
  padding-left: 8px;
  padding-right: 5px;
  padding-top: 5px;
  color: #CACACA;
  height: 34px;
  display: inline-block;
}
.search2 {
  width: calc(100% - 30px);
  background-color: transparent;
  color:white;
  border: none;
  padding: 6.5px;
  border-radius: 0px 5px 5px 0px;
}
.searchMarket:hover {
  border: 1px solid #346565;
}
::placeholder {
  color: #CACACA;
  opacity: 1; /* Firefox */
  font-size: 12px;
}
.border {
  transition-duration: 300ms;
}
.border:hover {
  background-color: #ebebeb !important;
  color:#FF8135 !important;
}
.btn-prim {
  background-color: #FF8135 !important;
  transition-duration: 300ms;
}
.btn-prim:hover {
  background-color: #f36c18 !important;
}

.title {
  font-size: 20px;
  color:#ebebeb;
  font-weight: bolder;
}

.top-nav {
  height: 15px;
  border-bottom: solid 1px #142828;
  width:100%;
}

.bot-nav {
  height: 55px;
}

.logo {
  width: 162px;
  height: 38px;
}

.home {
  padding-top: 35px;
  position:relative;
  top: -91px;
  width: calc(100vw - 350px);

}
.homesmall {
  padding-top: 35px;
  position:relative;
  top: -91px;
  width: calc(100vw - 200px);

}
.animate {
  position: relative;
  top: -91px;
  width: 0px;
  transform: translateX(310px);
  transition: width 0.3s ease, transform 0.3s ease;
}
.close {
  width: 0px;
  transform: translateX(310px)
}

.betsOpen {
  width: 300px;
  transform: translateX(0px)
}
.balance {
  color: #D9D9D9;
  transition-duration: 300ms;
}
.balance:hover {
  color: #f36c18;
}
.balance .currencyImg {
  margin-right: 5vw;
}
.navbar {
  width: calc(100vw - 330px);
}
.navbarsmall {
  width: calc(100vw - 200px);
}
.pagination {
  color: #D9D9D9
}
.pagination .btn {
  color: #D9D9D9;
}
.pagination .btn:hover {
  color: white;
}
.pagination .btn:disabled {
  color: #346565;
}

.leaderboards-list {
  height: calc(100dvh - 200px);
  overflow-y: hidden;
  overflow-x: hidden;
}
.match-list {
  height: calc(100dvh - 200px);
  overflow-y: auto;
  overflow-x: hidden;
  scrollbar-gutter: stable;
}
.match-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: transparent;
  position:relative;
  left: -10px;
}

.match-list::-webkit-scrollbar
{
	width: 5px;
  border-radius: 5px;
	background-color: transparent;
}

.match-list::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0E1D1D;
}
.bets-float {
  position: relative;
  top: -92px;
  right:0px;
  width: 300px;
}
.bets-container {
  position: fixed;
  top: 0px;
  right:0px;
  height: 100dvh;
  width: 300px
}
.empty {
  width: 75%;
  height: auto;
}
.bets-list {
  height: calc(100dvh - 70px - 200px);
  overflow-y: auto;
}

.bets-list::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #1F3D3D;
}

.bets-list::-webkit-scrollbar
{
	width: 5px;
	background-color: #1F3D3D;
}

.bets-list::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0E1D1D;
}
.top-nav-bets {
  height:35px;
  border-bottom: solid 1px #346565;
}

.bot-nav-bets {
  height: 55px;
  color:#ebebeb;
  font-size: 20px;
  font-weight: bold;
  padding-left: 20px
}
.bot-nav-bets svg {

  width: 30px;
  height: 30px;
  margin-right: 10px;
}

.selected-bet {
  color:#D9D9D9;
  border-top: solid 1px #346565;
  border-bottom: solid 1px #346565;
}
.animate-bet {
  animation: fadeIn 0.3s ease; /* 0.5s for fade-in, ease timing function */
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.mouse-pointer {
  cursor: pointer;
}
.matchName {
  color:#CACACA;
  font-size: 12px;
  width: 70%;
  display: block;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  font-weight: bold;
}

.inputBet {
  width: 100%;
  display: inline-block;
  border-start-start-radius: 5px;
  border-end-start-radius: 5px;
}
.currency {
  background-color: transparent;
  display: inline-block;
  padding: 10px;
  position: relative;
  top: 0px;
  font-size: 12px;
  border-end-end-radius: 5px;
  border-start-end-radius: 5px;
}
.currencyImg {
  height: 20px;
  width: 20px;
  margin-left: 10px;
}
.matchdiv {
  display:flex;
  justify-content: space-between;
  align-items: center;
}
.totalBets {
  height: 200px;
  background-color: #0E1D1D;
}
.placebet {
  /* bg-orange rounded py-2 fw-bold text-white  */
  background-color: #FF8135;
  border-radius: 5px;
  font-weight: bold;
  color: white;
  padding: 10px;
  margin-top: 5px;
}
.placebet:hover {
  background-color:#f36c18;

}
.hide-modal {
  display:none;
}
.show-modal {
  display: block;
}
.chevron {
  transition-duration: 300ms;
  color:#346565;
}
.chevronbox {
  border: 1px transparent solid;
}
.chevronbox:hover .chevron {
  color:#CACACA
}
/* .matchdiv:hover {
  background: rgb(31,61,61);
  background: linear-gradient(180deg, rgba(31,61,61,1) 44%, rgba(52,101,101,1) 92%);
} */
/* .matchdiv {
  padding: 20px;
  transition-duration: 300ms;
  background: transparent;
} */
.drop {
  background-color: transparent !important;
  width: 100%;
  text-align: left !important;
  border-radius: 0px !important;
  transition-duration: 300ms;
}
.drop:hover {
  border: 1px #346565 solid !important;
}

.marketBets {
  color:#D9D9D9;
  border: 1px transparent solid;
  padding: 5px 30px !important;
  display: flex;
  flex-direction: column;
  height: auto;
  transition-duration: 300ms;
}
.marketBetContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0px 5px;
  box-sizing: border-box;  
}
.marketBets:has(.marketClicked) {
  background-color: #346565;
}
.marketBets:has(.market) {
  background-color: transparent;
}

.marketBets:hover {
  border: 1px #346565 solid;
}
.marketBets:active {
  border: 1px #ffffff solid;
}

.marketBets:hover .betsOdds{
  color:#ffffff;
}
.betsOdds {
  font-weight: bold;
  background-color: #141428;
  width: 65px;
  padding: 2px;
  text-align: center;
  border-radius: 5px;
  transition-duration: 300ms;
}

.marketClicked .betsName{
  font-weight: bold;
}
.marketClicked .betsOdds{
  color: white;
}

.market .betsName{
  font-weight: normal;
}
.market .betsOdds{
  color: #ff7520;;
}
.collapseContent {
  border: 1px #346565 solid;
  border-top: none;
}
.match {
  border-bottom: 1px #346565 solid;
  padding-top: 15px;
  padding-bottom: 15px;
}
svg path {
  transition-duration: 300ms;
}
svg:hover path {
  fill: white; /* Change to the desired hover color */
}
.neg-margin {
  margin-left: -5px;
}
.dropdown-toggle::after { 
  content: none !important; 
} 
.dropdown-toggle {
  font-size: 1em;
  width: auto;
}
.btn.show {
  border-color: transparent;
}
.btn {
  border-color: transparent !important;
}
.border {
  border: 1px white solid !important;
}
.dropdown-menu {
  font-size: 1em;
  min-width: 100px !important;
}
.dropdown-menu .dropdown-item.active {
  background-color: rgb(224, 223, 223) !important; 
}
.dropdown-menu .dropdown-item {
  transition-duration: 300ms;
}
.dropdown-menu .dropdown-item:hover {
  background-color: rgb(224, 223, 223) !important; 
}
.dropdown-item:active, 
.dropdown-item:focus {
  background-color: rgb(224, 223, 223) !important; 
}
.matchMargin {
  padding-left: 40px;
  padding-right: 40px;
}
.matchMarginAccount {
  padding-left: 55px;
  padding-right: 40px;
}
.changePw {
  text-align: left;
}
.showHide {
  background-color: transparent;
  font-size: smaller;
  width: 100px;
  border-radius: 0px;
  padding: 9px;
  border: 1px solid transparent
}
.showHide:hover {
  background-color: #346565 !important;
}
.switch {
  background-color: #224343;
  border-radius: 5px;
  width: 300px;
}
.account, .wallet { 
  background-color: transparent;
  color:#CACACA;
  border-radius: 5px;
  transition-duration: 200ms;
  font-weight: bold;
  width: 143px;
}
.account:hover, .wallet:hover {
  background-color: #346565;
  color: white
}

.accountInput {
  background-color: #141428 !important;
  border-color: #141428 !important;
  color: white;
}
.editPass {
  margin-top: -5px;
  color: white !important;
}
.editPass:hover {
  color: #ff7520 !important;
}
.editPass svg:hover path {
  fill: #ff7520; /* Change to the desired hover color */
}
.addCoins {
  margin-top: -5px;
  color: white !important;
}
.addCoins:hover {
  color: #ff7520 !important;
}
.addCoins svg:hover path {
  fill: #ff7520; /* Change to the desired hover color */
}
.transactions {
  background-color: #1F3D3D !important;
  color: white;
  width: 100%;
  border-radius: 5px;
}
.leaderboards {
  background-color: #1F3D3D !important;
  color: white;
  width: 100%;
  border-radius: 5px;
}
.balanceInput .inputDiv {
  border-radius: 5px 0px 0px 5px;
  background-color: #141428;
}
.balanceInput div {
  width: 100%;
  text-align: right;
}
.balanceInput .currency {
  border-radius: 0px 5px 5px 0px;
  background-color: #141428;
}

.form-control {
  font-size: 15px !important;
}
.tableWrapLeaderboard {
  height: 56dvh;
  overflow-y:hidden;
  border-radius: 5px;
}

.tableWrap {
  max-height: 55dvh;
  overflow-y: auto;
  border-radius: 5px;
}

.tableWrap::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: #1F3D3D;
}

.tableWrap::-webkit-scrollbar
{
	width: 5px;
	background-color: #1F3D3D;
}

.tableWrap::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0E1D1D;
}

/* Set header to stick to the top of the container. */
.leaderboards thead tr th {
  position: sticky;
  top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
.leaderboards {
 border-collapse: collapse;
}

.leaderboards td {
  padding: 5px 10px;
  border-bottom: 1px solid #346565;
}
.leaderboards th {
  padding: 10px 10px;
  border-bottom: 1px solid #346565;
  background-color: #274e4e;

}
.leaderboards tr {
  transition-duration: 300ms;
}
.leaderboards tr:hover {
  background-color: #346565;
}

.xsmall{
  font-size: x-small;
}

/* Set header to stick to the top of the container. */
.transactions thead tr th {
  position: sticky;
  top: 0;
}

/* If we use border,
we must use table-collapse to avoid
a slight movement of the header row */
.transactions {
 border-collapse: collapse;
}

.transactions td {
  padding: 5px 10px;
  border-bottom: 1px solid #346565;
}
.transactions th {
  padding: 10px 10px;
  border-bottom: 1px solid #346565;
  background-color: #274e4e;

}
.transactions tr {
  transition-duration: 300ms;
}
.transactions tr:hover {
  background-color: #346565;
}
.transactions td:nth-child(2){
  text-transform: uppercase;
}
.transactions td:nth-child(1){
  font-size: x-small;
}
.transactions .badge {
  width: 14px !important;
}
.badges {
  padding: 0px !important;
}
.key .badge {
  margin-left: 10px;
  top: -2px;
  position: relative;
}
.table-fit {
  width: auto !important;
  table-layout: auto !important; /* Adjust column width based on content */
  max-width: 100% !important; /* Fit within the viewport width */
  white-space: nowrap !important; /* Prevent text wrapping */
}

.selectDiv button {
  width: 120px;
}
.select {
  background-color: #346565;
  color: #ebebeb;
  padding: 8px 12px;
  border:none;
  border-radius: 5px;
}
.select:hover {
  background-color: #346565;
  color: white;
}
.select:hover {
  background-color: #346565;
  color: white;
}
.alertsBox {
  position: absolute;
  bottom: 10dvh;
  right: 10px;
  width: 200px;
}
.alert-fade-in {
  animation: fadeIn 0.3s forwards;
}

.alert-fade-out {
  animation: fadeOut 0.5s forwards;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.pricing {
  margin-top: 10px;
}
.pricing td:first-child{
  width: 20px;
  display: flex;
  align-items: flex-start;
}

.basic {
  border: 2px #D9D9D9 solid
}

.addCoinsImg {
  height: 120px;
}
.addCoinsDiv {
  border-radius: 5px;
  background: rgb(255,255,255);
  background: linear-gradient(150deg, rgba(255,255,255,1) 44%, rgba(187,187,187,1) 100%);
  width: 100px;
  padding: 10px 0px;
  text-align: center;
}

.bet-card {
  border: 1px #274e4e solid;
  border-radius: 5px;

}

.notif {
  /* font-size: 8px; */
  position: relative;
  top: -5px;
  left: -7px;
  padding: 4px;
}

.notification-icon {
  padding: 10px 0px;
}

.unselectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.dropdown-notification {
  width: 200px;
  padding: 5px 0px;
  font-size: 0.8em !important;
  text-align: left;
  scrollbar-gutter: stable;
  max-height: 50dvh;
  overflow-y: auto;
}
.dropdown-notification::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 5px;
	background-color: transparent;
  position:relative;
  left: -10px;
}

.dropdown-notification::-webkit-scrollbar
{
	width: 5px;
  border-radius: 5px;
	background-color: transparent;
}

.dropdown-notification::-webkit-scrollbar-thumb
{
	border-radius: 5px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
	background-color: #0E1D1D;
}

.notification-item {
  transition-duration: 0.3s;
  padding: 5px 10px;
}
.notification-item:hover {
  background-color: rgb(224, 223, 223) !important; 
}
.result-won {
  color:green;
  font-weight: bold;
}

.result-lost {
  color:red;
  font-weight: bold;
}
.react-tel-input .form-control {
  width: 100% !important;
}

.btn-chevron-left {
  background-image: linear-gradient(to right, #0E1D1D, #0E1D1D, #0E1D1D, rgba(14,29,29,0.8), rgba(14,29,29,0.5), rgba(14,29,29,0.3) , rgba(14,29,29,0.1),transparent) ;
  width:50px;
}
.btn-chevron-right {
  background-image: linear-gradient(to left, #0E1D1D, #0E1D1D, #0E1D1D, rgba(14,29,29,0.8), rgba(14,29,29,0.5), rgba(14,29,29,0.3) , rgba(14,29,29,0.1),transparent) ;
  width: 50px;
}
.btn-chevron {
  border: none !important;
  height: 70px;
  border-radius: 0px !important;
}
.chevron {
  color: white !important;
}

.border-grey{
  border-color: #CACACA !important;
}
.border-orange {
  border-color: #f36c18 !important;
}

@media only screen and (max-width: 992px) { /*smaller than desktop =TABLET*/
  .odds-container {
    width: 100%;
    margin-top: 10px
  }
  .matchdiv {
    display: block;
  }
  .marketBets {
    padding: 5px 10px !important;
  }
  .matchMargin {
    padding-left: 20px;
    padding-right: 20px;
  }
  .matchMarginAccount {
    padding-left: 55px;
    padding-right: 40px;
  }
  .changePw {
    text-align: right;
  }
}

@media only screen and (max-width: 768px) { /*smaller than tablet =MOBILE*/
  body {
    font-size: 12px !important;
  }
  
  .search {
    padding: 8px;
  }
  .marketBets {
    padding: 5px 15px !important;
  }
  .homesmall {
    width: calc(100vw - 50px);
  }
  .home {
    display: none;
  }
  .search {
    width: 100%;
  }
  h1 {
    font-size: 18px !important;
  }


  .animate {
    position: relative;
    top: -91px;
    width: 0vw;
    transform: translateX(100vw);
    transition: transform 0.3s ease;
  }
  .close {
    width: 0vw;
    transform: translateX(100vw)
  }
  .betsOpen {
    width: 100vw;
    transform: translateX(0)
  }
  .bets-float {
    width: 100vw;
  }
  .bets-container {
    width: 100vw;
    height: 100dvh;
  }
  .matchMargin {
    padding-left: 10px;
    padding-right: 10px;
  }
  .matchMarginAccount {
    padding-left: 55px;
    padding-right: 40px;
  }
  .changePw {
    text-align: right;
  }  


}

@media only screen and (max-width: 576px) { /*XS ---------------------------*/
  body {
    font-size: 0.7rem !important;
  }
  
  .match-list {
    padding-bottom: 100px !important;
  }

  .navigation {
    display: none !important;
  }
  .mob-nav {
    display: flex !important;
    height: 55px;
    position: fixed;
    bottom: 0px;
    margin: 0px;
    width: 100vw;
  }
  
  .mob-logo-bar {
    width: 100%;
  }
  .searchgroup {
    font-size: 10px;
  }
  .search::placeholder {
    font-size: 10px;
  }
  .searchgroup-text {
    padding-top: 7px;
    height: 31px;
    padding-right: 0px;
  }

  .font-12 {
    font-size: 0.7rem;
  }
  .font-15 {
    font-size: 0.75rem;
  }
  .font-18 {
    font-size: 0.8rem;
  }
  .font-20 {
    font-size: 0.85rem;
  }
  .btn {
    font-size: 0.8rem !important;
  };

  h1 {
    font-size: 0.9rem !important;
  }
  .date {
    font-size: 0.65rem;
  }
  .mt-5 {
    margin-top: 1.5rem !important;
  }
  .mb-3 {
    margin-bottom: 0.5rem !important;
  }
  .top-nav {
    height: 0px;
    border-bottom: solid 1px #142828;
    width:100%;
  }
  
  .bot-nav {
    height: 55px;
  }
  
  .logo {
    height: 25px;
    width: 107px;
  }
  .me-5 {
    margin-right: 1rem !important;
  }
  .py-4 {
    padding: 0.8rem 0 !important;
  }
  .logo-bar svg {
    height: 18px;
  }
  .ps-4 {
    padding-left: 1rem !important;
  }
  .pt-3 {
    padding-top: 0.7rem !important;
  }
  .homesmall {
    width: calc(100vw - 10px);
    padding-left: 5px;
    padding-right: 5px;
  }
  .match {
    padding-top: 5px;
    padding-bottom: 5px;
  }
  .leaderboards-list {
    height: calc(100dvh - 200px);
  }
  .match-list  {
    height: calc(100dvh - 200px);
    padding-bottom: 50px;
  }
  .drop {
    font-size: 0.75rem;
  }
  .bot-nav-bets svg {
    height: 18px;
  }
  .bot-nav-bets {
    font-size: 14px;
  }
  .bets-list {
    height: calc(100dvh - 20px - 200px);
    overflow-y: auto;
  }
  .input {
    font-size: 0.75rem;
  }
  .form-control {
    font-size: 0.75rem !important;
  }
  .p-3 {
    padding: 0.7rem !important;
  }
  .transactions {
    font-size: 10px;
  }
  .leaderboards {
    font-size: 10px;
  }
  .balance .currencyImg {
    margin-right: 1vw;
  }
  .currencyImg {
    width: 15px;
    height: 15px;
  }
  .currency {
    padding: 8px;
  }
  .matchMarginAccount {
    padding-left: 15px;
    padding-right: 10px;
  }
  .logout {
    width: 100%;
  }
  .alertsBox {
    position: absolute;
    bottom: 15dvh;
    right: 5px;
    width: 200px;
  }
}